.App {
  text-align: center;
  min-height: 100vh;
  color: white; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  padding: 20px 40px;
  color: white;
  text-align: left; }

.App-title {
  font-size: 1.8em; }

.App-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  padding: 12px 40px;
  color: white; }

.App-background {
  position: fixed;
  z-index: -1;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px); }
